{
  "extends": "../.eslintrc",

  "settings": {
    "import/core-modules": [ "react-native-paper" ]
  },

  "rules": {
    "react/prop-types": "off",
    "react-native-a11y/has-accessibility-hint": "off",
    "react-native-a11y/has-valid-accessibility-ignores-invert-colors": "off"
  }
}
