{
  "env": {
    "browser": true
  },

  "extends": "@callstack",

  "rules": {
    "one-var": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "no-undef": "off",
    "global-require": "off",

    "import/no-extraneous-dependencies": "off",
    "import/first": "off",
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          "internal",
          ["sibling", "parent"],
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@(react|react-native)",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@src/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["internal", "react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],

    "react-native/no-unused-styles": "error",
    "react-native/split-platform-components": "off",
    "react-native/no-raw-text": "off",
    "react-native-a11y/has-valid-accessibility-descriptors": "off"
  },

  "settings": {
    "import/extensions": [".js", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  }
}
