{
  "env": {
    "browser": true
  },

  "extends": ["callstack-io"],

  "plugins": ["react-native"],

  "rules": {
    "one-var": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "global-require": "off",

    "flowtype/define-flow-type": "error",
    "flowtype/no-weak-types": "off",
    "flowtype/require-variable-type": "off",
    "flowtype/sort-keys": "off",
    "flowtype/type-id-match": "off",
    "flowtype/use-flow-type": "error",
    "flowtype/valid-syntax": "error",

    "import/no-extraneous-dependencies": "off",
    "import/first": "off",

    "react-native/no-unused-styles": "error",
    "react-native/split-platform-components": "off"
  }
}
