{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "babel",
    "import",
    "react",
    "react-native",
  ],

  "globals": {
    "ReactClass": false,
    "ReactPropsCheckType": false,
    "ReactPropsChainableTypeChecker": false,
    "ReactPropTypes": false,
    "SyntheticEvent": false,
  },

  "rules": {
    "comma-dangle": [1,"always-multiline"],
    "max-depth": 0,
    "max-len": 0,
    "max-params": 0,
    "max-statements-per-line": 0,
    "max-statements": 0,
    "no-cond-assign": 2,
    "no-console": 1,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-duplicate-imports": 2,
    "no-empty-character-class": 2,
    "no-empty-pattern": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-label": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-restricted-globals": 0,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "template-curly-spacing": 1,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,

    "accessor-pairs": 0,
    "block-scoped-var": 2,
    "complexity": 0,
    "consistent-return": 2,
    "curly": [2, "multi-line"],
    "default-case": 0,
    "dot-location": [1, "property"],
    "dot-notation": 2,
    "eqeqeq": 2,
    "guard-for-in": 0,
    "no-alert": 2,
    "no-caller": 2,
    "no-case-declarations": 1,
    "no-div-regex": 0,
    "no-else-return": 0,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 1,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 0,
    "no-implicit-globals": 0,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 1,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-negated-condition": 0,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 1,
    "no-process-env": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": 2,
    "no-unused-labels": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-useless-constructor": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-warning-comments": 0,
    "no-with": 2,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": 1,
    "yoda": [1, "never"],

    "strict": 0,

    "init-declarations": 0,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "no-whitespace-before-property": 1,

    "handle-callback-err": 1,
    "no-mixed-requires": 1,
    "no-new-require": 0,
    "no-path-concat": 0,
    "no-process-exit": 0,
    "no-restricted-imports": 0,
    "no-restricted-modules": 0,
    "no-restricted-syntax": 0,
    "no-sync": 0,

    "array-bracket-spacing": 0,
    "array-callback-return": 2,
    "arrow-body-style": 0,
    "block-spacing": [1, "always"],
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": 0,
    "comma-spacing": [1, { "before": false, "after": true }],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "consistent-this": [1, "self"],
    "eol-last": 1,
    "func-names": 0,
    "func-style": 0,
    "id-length": 0,
    "id-match": 0,
    "indent": [1, 2],
    "jsx-quotes": [1, "prefer-single"],
    "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": 1,
    "linebreak-style": 1,
    "lines-around-comment": 0,
    "max-nested-callbacks": [1, 3],
    "new-cap": 0,
    "new-parens": 2,
    "newline-after-var": 0,
    "newline-before-return": 0,
    "no-array-constructor": 1,
    "no-confusing-arrow": 0,
    "no-continue": 0,
    "no-inline-comments": 0,
    "no-lonely-if": 0,
    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "no-multiple-empty-lines": 1,
    "no-nested-ternary": 1,
    "no-new-object": 1,
    "no-new-symbol": 2,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": 0,
    "one-var-declaration-per-line": 0,
    "one-var": 0,
    "operator-assignment": 1,
    "operator-linebreak": [2, "after"],
    "padded-blocks": 0,
    "quote-props": [1, "as-needed"],
    "quotes": [1, "single", "avoid-escape"],
    "semi-spacing": [2, { "before": false, "after": true }],
    "semi": 2,
    "sort-imports": 0,
    "sort-vars": 0,
    "space-before-blocks": 1,
    "space-in-parens": [1, "never"],
    "space-infix-ops": [1, { "int32Hint": false} ],
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "spaced-comment": [1, "always"],
    "wrap-regex": 0,

    "arrow-parens": 0,
    "arrow-spacing": [2, { "before": true, "after": true }],
    "constructor-super": 2,
    "generator-star-spacing": 0,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 1,
    "object-shorthand": 0,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-reflect": 0,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "prefer-template": 0,
    "require-jsdoc": 0,
    "require-yield": 0,

    "babel/generator-star-spacing": [2, "before"],
    "babel/new-cap": 0,
    "babel/array-bracket-spacing": [1, "always"],
    "babel/object-curly-spacing": [1, "always"],
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 0,
    "babel/no-await-in-loop": 2,
    "babel/flow-object-type": [1, "semicolon"],

    "import/no-unresolved": 2,
    "import/named": 2,
    "import/default": 0,
    "import/namespace": 0,
    "import/export": 2,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-deprecated": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-commonjs": 1,
    "import/no-amd": 1,
    "import/no-nodejs-modules": 0,
    "import/imports-first": 2,
    "import/no-duplicates": 2,
    "import/no-namespace": 0,
    "import/extensions": [2, { "js": "never", "json": "always" }],
    "import/order": 0,

    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/no-danger": 1,
    "react/no-deprecated": 1,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": 0,
    "react/no-set-state": 0,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-render-return": 2,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/sort-prop-types": 0,
    "react/jsx-boolean-value": [1, "never"],
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": [1, "never"],
    "react/jsx-equals-spacing": 1,
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-handler-names": 0,
    "react/jsx-indent-props": [1, 2],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": [1, { "maximum": 2 }],
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-wrap-multilines": 1,

    "react-native/no-unused-styles": 1,
    "react-native/split-platform-components": 1,
  }
}
