.Container_c119hgic{-webkit-flex:1;-ms-flex:1;flex:1;}@media (min-width:640px){.Container_c119hgic{height:100%;overflow:auto;-webkit-overflow-scrolling:touch;}}
.Inner_ir6lat6{padding:64px 24px 24px;}@media (min-width:640px){.Inner_ir6lat6{padding:64px;}}@media (min-width:960px){.Inner_ir6lat6{padding:86px;}}.Inner_ir6lat6 .anchor{margin-left:-20px;margin-right:-1.5px;opacity:0;}.Inner_ir6lat6 .anchor:hover{opacity:1;}.Inner_ir6lat6 h1:hover > .anchor,.Inner_ir6lat6 h2:hover > .anchor,.Inner_ir6lat6 h3:hover > .anchor,.Inner_ir6lat6 h4:hover > .anchor,.Inner_ir6lat6 h5:hover > .anchor,.Inner_ir6lat6 h6:hover > .anchor{opacity:1;}.Inner_ir6lat6 .token.comment,.Inner_ir6lat6 .token.prolog,.Inner_ir6lat6 .token.doctype,.Inner_ir6lat6 .token.cdata{color:#90a4ae;}.Inner_ir6lat6 .token.punctuation{color:#9e9e9e;}.Inner_ir6lat6 .namespace{opacity:0.7;}.Inner_ir6lat6 .token.property,.Inner_ir6lat6 .token.tag,.Inner_ir6lat6 .token.boolean,.Inner_ir6lat6 .token.number,.Inner_ir6lat6 .token.constant,.Inner_ir6lat6 .token.symbol,.Inner_ir6lat6 .token.deleted{color:#e91e63;}.Inner_ir6lat6 .token.selector,.Inner_ir6lat6 .token.attr-name,.Inner_ir6lat6 .token.string,.Inner_ir6lat6 .token.char,.Inner_ir6lat6 .token.builtin,.Inner_ir6lat6 .token.inserted{color:#4caf50;}.Inner_ir6lat6 .token.operator,.Inner_ir6lat6 .token.entity,.Inner_ir6lat6 .token.url,.Inner_ir6lat6 .language-css .token.string,.Inner_ir6lat6 .style .token.string{color:#795548;}.Inner_ir6lat6 .token.atrule,.Inner_ir6lat6 .token.attr-value,.Inner_ir6lat6 .token.keyword{color:#3f51b5;}.Inner_ir6lat6 .token.function{color:#f44336;}.Inner_ir6lat6 .token.regex,.Inner_ir6lat6 .token.important,.Inner_ir6lat6 .token.variable{color:#ff9800;}.Inner_ir6lat6 .token.important,.Inner_ir6lat6 .token.bold{font-weight:bold;}.Inner_ir6lat6 .token.italic{font-style:italic;}.Inner_ir6lat6 .token.entity{cursor:help;}

.EditButtonContainer_emlbhqm{display:block;position:absolute;top:0;right:48px;padding:30px;z-index:10;color:inherit;}.EditButtonContainer_emlbhqm:focus,.EditButtonContainer_emlbhqm:hover,.EditButtonContainer_emlbhqm:active{color:inherit;}@media (min-width:640px){.EditButtonContainer_emlbhqm{padding:32px;right:0;}}.EditButtonContainer_emlbhqm svg{stroke:currentColor;}

.Title_t1dytcq5{margin-top:0;}
.MarkdownContent_m3ctz2y p:first-of-type{margin-top:0;}.MarkdownContent_m3ctz2y p:last-of-type{margin-bottom:0;}
.PropInfo_p1eats2g{margin:14px 0;}
.PropLabel_psi127e{display:block;color:inherit;font-size:18px;margin:24px 0 8px 0;-webkit-text-decoration:none;text-decoration:none;white-space:nowrap;}.PropLabel_psi127e:hover{color:inherit;}.PropLabel_psi127e > code{font-size:inherit;background-color:transparent;border:0;}
.PropItem_pwdtv5j{margin:8px 0;}.PropItem_pwdtv5j > code{font-size:inherit;white-space:normal;}
.RestPropsLabel_r5pwgte{display:block;margin:24px 0 8px 0;}

.Layout_lugqar2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}@media (min-width:640px){.Layout_lugqar2{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}}

.SidebarContent_s9nrg4n{background-color:#f8f9fa;}@media (min-width:640px){.SidebarContent_s9nrg4n{height:100%;min-width:240px;overflow:auto;-webkit-overflow-scrolling:touch;}}
.Navigation_nlggdah{padding:12px 24px;}@media (min-width:640px){.Navigation_nlggdah{padding:20px 32px;}}
.Searchbar_s1nn5lbd{-webkit-appearance:none;-moz-appearance:none;appearance:none;width:calc(100% - 48px);padding:8px 12px;margin:32px 24px 0;font-size:1em;background-color:rgba(0,0,55,0.08);-webkit-transition:background-color 0.3s;transition:background-color 0.3s;border-radius:3px;border:0;outline:0;}.Searchbar_s1nn5lbd:focus{background-color:rgba(0,0,55,0.12);}@media (min-width:640px){.Searchbar_s1nn5lbd{width:calc(100% - 64px);margin:32px 32px 0;}}
.MenuContent_mdzibsv{position:fixed;opacity:0;pointer-events:none;}@media (min-width:640px){.MenuContent_mdzibsv{position:relative;opacity:1;pointer-events:auto;}}@media (max-width:639px){.MenuContent_mdzibsv .Searchbar_s1nn5lbd:first-child{margin-top:72px;}}
.MenuIcon_m1mups47{font-size:20px;line-height:1;cursor:pointer;position:absolute;top:0;right:0;padding:30px;z-index:10;-webkit-tap-highlight-color:transparent;}@media (min-width:640px){.MenuIcon_m1mups47{display:none;}}
.MenuButton_mzfqg8l{display:none;}.MenuButton_mzfqg8l:checked ~ .MenuContent_mdzibsv{position:relative;opacity:1;pointer-events:auto;}.MenuButton_mzfqg8l:checked ~ label{color:#111;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.LogoImage_llziuo3{display:block;height:48px;width:auto;margin:32px 32px 0;}
.SeparatorItem_s1gpol2t{border:0;background-color:rgba(0,0,0,0.04);height:1px;margin:20px 0;}
.LinkItem_l5q2p2e{display:block;padding:12px 0;-webkit-text-decoration:none;text-decoration:none;color:#888;line-height:1;}.LinkItem_l5q2p2e:hover{color:#111;-webkit-text-decoration:none;text-decoration:none;}.LinkItem_l5q2p2e[data-selected='true']{color:#333;color:var(--theme-primary-color);}.LinkItem_l5q2p2e[data-selected='true']:hover{color:#333;color:var(--theme-primary-color);}
.Row_rl210no{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.Row_rl210no .LinkItem_l5q2p2e{-webkit-flex:1;-ms-flex:1;flex:1;}
.GroupItems_g1ol5l8s{position:relative;padding-left:12px;-webkit-transition:0.3s;transition:0.3s;}.GroupItems_g1ol5l8s:before{content:'';display:block;position:absolute;background-color:rgba(0,0,0,0.04);width:1px;top:0;bottom:0;left:0;margin:12px 0;}.GroupItems_g1ol5l8s[data-visible='true']{opacity:1;}.GroupItems_g1ol5l8s[data-visible='false']{opacity:0;pointer-events:none;}
.ButtonIcon_b19yxlm8{background-color:transparent;border:none;color:#aaa;cursor:pointer;margin:0;padding:10px 12px;-webkit-transition:0.3s;transition:0.3s;opacity:0.8;}.ButtonIcon_b19yxlm8:hover{color:#555;}.ButtonIcon_b19yxlm8:focus{outline:none;}.ButtonIcon_b19yxlm8[data-expanded='true']{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}.ButtonIcon_b19yxlm8[data-expanded='false']{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg);}

.c8u27k0{padding:64px 24px 24px;width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}@media (min-width:640px){.c8u27k0{padding:64px;}}@media (min-width:960px){.c8u27k0{padding:86px;}}

.hhu4k3n{color:#6200ee;}.hhu4k3n:hover,.hhu4k3n:focus,.hhu4k3n:active{color:#6200ee;}
.cq2xmza{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.b18qaob2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:16px -8px;min-width:0;}
.bogkfcm{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:8px;min-width:120px;white-space:nowrap;font-size:13px;font-weight:600;text-align:center;text-transform:uppercase;-webkit-letter-spacing:1px;-moz-letter-spacing:1px;-ms-letter-spacing:1px;letter-spacing:1px;padding:8px 16px;border-width:1px;border-style:solid;border-radius:3px;cursor:pointer;-webkit-transition:0.3s;transition:0.3s;background-color:transparent;border-color:rgba(0,0,0,0.24);color:#6200ee;}.bogkfcm:hover,.bogkfcm:focus,.bogkfcm:active{background-color:rgba(98,0,238,0.08);color:#6200ee;}.bogkfcm.primary{box-shadow:0 1px 3px rgba(0,0,0,0.12);background-color:#6200ee;border-color:#6200ee;color:#fff;}.bogkfcm.primary:hover,.bogkfcm.primary:focus,.bogkfcm.primary:active{background-color:#6200ee;color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.24);}
.g1l333ns{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;margin:0px -16px;min-width:0;}.g1l333ns > img{box-shadow:0 1px 3px rgba(0,0,0,0.12);display:block;max-height:480px;width:auto;margin:16px;}
.l5ylsq8{cursor:pointer;background:#6200ee;padding:3px;width:33px;height:20px;border-radius:33.5px;display:grid;margin-right:5px;}
.t19xrsv6{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.ihb0605{position:absolute;opacity:0;width:0;height:0;}.ihb0605:checked + .switch{grid-template-columns:1fr 1fr 0fr;}
.srfu863{height:14px;width:26px;display:grid;grid-template-columns:0fr 1fr 1fr;-webkit-transition:0.2s;transition:0.2s;}.srfu863:after{content:'';border-radius:50%;background:#fff;grid-column:2;-webkit-transition:background 0.2s;transition:background 0.2s;}

.c1enaxk2{margin:16px 0;}
.io4ya8n{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0;background:0;outline:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:124px;height:124px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;}@media (max-width:680px){.io4ya8n{width:96px;}}
.i1pmxv9{display:block;margin:16px;font-family:'MaterialCommunityIcons';font-size:48px;}
.i1di105y{display:block;font-size:12px;}
.r11ly0co{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin:24px 0;}.r11ly0co:last-child{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;}
.s1ivyofe{box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0;display:block;width:100%;padding:12px;font-size:1em;background-color:#f0f0f0;border-radius:3px;-webkit-transition:background-color 0.3s;transition:background-color 0.3s;outline:0;}.s1ivyofe:focus,.s1ivyofe:hover{background-color:#e7e7e7;}.s1ivyofe *:focus-visible{outline:auto;}

.c1v7rsxs{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.atyrk11{font-size:16px;margin-top:0;margin-bottom:12px;}
.gmr4cvk{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;min-width:0;margin:32px -16px;}@media (max-width:680px){.gmr4cvk{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}}
.ihzpf51{height:96px;padding:12px;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition:150ms;transition:150ms;}
.i135hnfa{overflow:hidden;margin:16px;box-shadow:0 1px 3px rgba(0,0,0,0.12);}@media (min-width:420px){.i135hnfa{height:528px;}.i135hnfa:hover .ihzpf51,.i135hnfa:focus .ihzpf51{-webkit-transform:translateY(-48px);-ms-transform:translateY(-48px);transform:translateY(-48px);}}
.i1jkhzzp{display:block;max-height:480px;width:auto;}@media (min-width:420px){.i1jkhzzp{height:480px;width:270px;}}
.bwk1szi{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-top:16px;padding-left:3px;}
.s1us0shc{margin:0 10px;}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

a {
  color: #000;
  color: var(--theme-primary-color);
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.2);
}

a:hover {
  text-decoration-color: #000;
  text-decoration-color: var(--theme-primary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 12px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: text;
  position: relative;
}

h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

h1 tt, h1 code {
  font-size: inherit;
}

h2 tt, h2 code {
  font-size: inherit;
}

h3 tt, h3 code {
  font-size: inherit;
}

h4 tt, h4 code {
  font-size: inherit;
}

h5 tt, h5 code {
  font-size: inherit;
}

h6 tt, h6 code {
  font-size: inherit;
}

h1 {
  font-size: 36px;
  line-height: 1.4;
  margin-top: 48px;
  margin-bottom: 24px;
  color: black;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 36px;
  margin-bottom: 12px;
  color: black;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  line-height: 1.4;
  color: black;
  font-weight: 500;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777777;
  font-size: 14px;
}

ul, ol {
  list-style: initial;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 14px 0;
}

hr {
  border: 0;
  color: #cccccc;
  height: 1px;
  padding: 0;
}

body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}

body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0;
}

ul, ol {
  padding-left: 36px;
}

ul :first-child, ol :first-child {
  margin-top: 0;
}

ul :last-child, ol :last-child {
  margin-bottom: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 14px 0 8px;
}

dl dt:first-child {
  padding: 0;
}

dl dt > :first-child {
  margin-top: 0;
}

dl dt > :last-child {
  margin-bottom: 0;
}

dl dd {
  margin: 0 0 14px;
  padding: 0 14px;
}

dl dd > :first-child {
  margin-top: 0;
}

dl dd > :last-child {
  margin-bottom: 0;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 14px;
  color: #777777;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

table {
  padding: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 8px 14px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 8px 14px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

code, tt {
  font-family: "Fira Code", "Operator Mono", "Ubuntu Mono", "Droid Sans Mono", "Liberation Mono", "Source Code Pro", Menlo, Consolas, Courier, monospace;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

pre code {
  margin: 0;
  padding: 14px;
  display: block;
  white-space: pre;
  border: none;
  overflow-x: auto;
}

pre {
  background-color: #F8F9FA;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 2px;
  tab-size: 2;
  hyphens: none;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
  font-weight: normal;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a,
a:hover {
  color: #6200ee;
}

a:hover {
  color: #873df2;
}

.screenshots {
  padding: 12px 0 4px 0;
  margin: 0 -4px;
}

.screenshots img {
  display: inline-block;
  width: 280px;
  height: auto;
}

.screenshots img.medium {
  width: 420px;
}

.screenshots img.large {
  display: block;
  width: 560px;
}

.screenshots > figure {
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
}

.screenshots > img {
  margin: 4px;
}

.screenshots figcaption {
  color: #616161;
  font-size: 13px;
  line-height: 24px;
  margin-top: 10px;
}

@media (min-width: 1100px) {
  .screenshots img {
    width: 240px;
  }
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url(assets/6acc7d6cffa21f6eda4baaa90e835fd2.ttf)
    format('truetype');
}


/*# sourceMappingURL=app.css.map*/