.mkv2wip .anchor{margin-left:-20px;margin-right:-2px;opacity:0;}.mkv2wip .anchor:hover{opacity:1;}.mkv2wip h1:hover > .anchor,.mkv2wip h2:hover > .anchor,.mkv2wip h3:hover > .anchor,.mkv2wip h4:hover > .anchor,.mkv2wip h5:hover > .anchor,.mkv2wip h6:hover > .anchor{opacity:1;}.mkv2wip .token.comment,.mkv2wip .token.prolog,.mkv2wip .token.doctype,.mkv2wip .token.cdata{color:#90a4ae;}.mkv2wip .token.punctuation{color:#9e9e9e;}.mkv2wip .namespace{opacity:0.7;}.mkv2wip .token.property,.mkv2wip .token.tag,.mkv2wip .token.boolean,.mkv2wip .token.number,.mkv2wip .token.constant,.mkv2wip .token.symbol,.mkv2wip .token.deleted{color:#e91e63;}.mkv2wip .token.selector,.mkv2wip .token.attr-name,.mkv2wip .token.string,.mkv2wip .token.char,.mkv2wip .token.builtin,.mkv2wip .token.inserted{color:#4caf50;}.mkv2wip .token.operator,.mkv2wip .token.entity,.mkv2wip .token.url,.mkv2wip .language-css .token.string,.mkv2wip .style .token.string{color:#795548;}.mkv2wip .token.atrule,.mkv2wip .token.attr-value,.mkv2wip .token.keyword{color:#3f51b5;}.mkv2wip .token.function{color:#f44336;}.mkv2wip .token.regex,.mkv2wip .token.important,.mkv2wip .token.variable{color:#ff9800;}.mkv2wip .token.important,.mkv2wip .token.bold{font-weight:bold;}.mkv2wip .token.italic{font-style:italic;}.mkv2wip .token.entity{cursor:help;}

.emlbhqm{display:block;position:absolute;top:0;right:48px;padding:16px;z-index:10;color:inherit;}.emlbhqm:focus,.emlbhqm:hover,.emlbhqm:active{color:inherit;}@media (min-width:640px){.emlbhqm{padding:32px;right:0;}}.emlbhqm svg{stroke:currentColor;}

.c1dytcq5{padding:0 12px;}@media (min-width:640px){.c1dytcq5{padding:0;}}
.t3ctz2y{font-size:36px;margin:0 0 8px 0;}
.m1eats2g p:first-of-type{margin-top:0;}.m1eats2g p:last-of-type{margin-bottom:0;}
.psi127e{font-size:24px;line-height:1;color:#000;margin:48px 0 16px;}
.pwdtv5j{margin:16px 0;}
.p5pwgte{display:block;color:inherit;font-size:20px;margin:24px 0 8px 0;-webkit-text-decoration:none;text-decoration:none;white-space:nowrap;}.p5pwgte:hover{color:inherit;}.p5pwgte > code{font-size:inherit;background-color:transparent;border:0;}
.pxjt4wc{margin:8px 0;}.pxjt4wc > code{font-size:inherit;white-space:normal;}
.r9qtvtp{color:#1976d2;font-size:16px;}

.s9nrg4n{background-color:#fafafa;box-shadow:0 0.5px 1.5px rgba(0,0,0,0.32);}@media (min-width:640px){.s9nrg4n{height:100%;min-width:240px;}}
.nlggdah{padding:24px;}@media (min-width:640px){.nlggdah{height:100%;overflow:auto;-webkit-overflow-scrolling:touch;}}
.m1nn5lbd{position:absolute;padding-top:42px;opacity:0;pointer-events:none;}@media (min-width:640px){.m1nn5lbd{position:relative;height:100%;opacity:1;pointer-events:auto;}}
.mdzibsv{font-size:20px;line-height:1;cursor:pointer;position:absolute;top:0;right:0;padding:16px;z-index:10;-webkit-tap-highlight-color:transparent;}@media (min-width:640px){.mdzibsv{display:none;}}
.m1mups47{display:none;}.m1mups47:checked ~ .m1nn5lbd{position:relative;opacity:1;pointer-events:auto;}.m1mups47:checked ~ label{color:#111;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.szfqg8l{position:absolute;top:0;right:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;width:100%;padding:16px 48px 16px 24px;font-size:1em;background-color:white;border-width:0 0 1px 0;border-style:solid;border-color:rgba(0,0,0,0.08);-webkit-transition:box-shadow 0.3s;transition:box-shadow 0.3s;outline:0;}.szfqg8l:focus{box-shadow:0 1px 3px rgba(0,0,0,0.08);}@media (min-width:640px){.szfqg8l{padding:12px 24px;}}
.slziuo3{border:0;background-color:rgba(0,0,0,0.08);height:1px;margin:8px 0;}
.l1gpol2t{display:block;padding:8px 0;-webkit-text-decoration:none;text-decoration:none;color:#888;}.l1gpol2t:hover{color:#111;}
.a5q2p2e{color:#333;-webkit-text-stroke-color:currentColor;-webkit-text-stroke-width:1px;}
.rl210no{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.rl210no .l1gpol2t{-webkit-flex:1;-ms-flex:1;flex:1;}
.s1ol5l8s{position:relative;padding-left:15px;-webkit-transition:0.3s;transition:0.3s;}.s1ol5l8s:before{content:'';display:block;position:absolute;background-color:rgba(0,0,0,0.08);width:1px;top:0;bottom:0;left:0;margin:8px 0;}
.s19yxlm8{opacity:1;}
.s16acsvo{opacity:0;pointer-events:none;}
.brx78yj{background-color:transparent;border:none;color:#888;cursor:pointer;margin:0;padding:10px 12px;-webkit-transition:0.3s;transition:0.3s;}.brx78yj:hover{color:#111;}.brx78yj:focus{outline:none;}
.e1e7pn53{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
.c12mn27x{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg);}

.c119hgic{-webkit-flex:1;-ms-flex:1;flex:1;}@media (min-width:640px){.c119hgic{height:100%;overflow:auto;-webkit-overflow-scrolling:touch;}}
.cr6lat6{padding:24px;}@media (min-width:640px){.cr6lat6{padding:24px 48px;}}

.wugqar2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}@media (min-width:640px){.wugqar2{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}}

.bhu4k3n{margin:0;padding:10px 16px;text-align:center;border-bottom:1px solid rgba(0,0,0,0.08);}
.lq2xmza{max-height:125px;width:auto;}
.c18qaob2{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.cogkfcm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;min-height:80vh;padding:32px;text-align:center;}
.b1l333ns{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin:16px 0;}
.b5ylsq8{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:8px;min-width:120px;font-size:13px;font-weight:600;text-align:center;text-transform:uppercase;-webkit-letter-spacing:1px;-moz-letter-spacing:1px;-ms-letter-spacing:1px;letter-spacing:1px;padding:8px 16px;border-width:1px;border-style:solid;border-radius:3px;cursor:pointer;-webkit-transition:0.3s;transition:0.3s;}.b5ylsq8:hover{-webkit-text-decoration:none;text-decoration:none;}
.p19xrsv6{background-color:#6200ee;border-color:#6200ee;color:#fff;box-shadow:0 1px 3px rgba(0,0,0,0.12);}.p19xrsv6:hover,.p19xrsv6:focus,.p19xrsv6:active{box-shadow:0 1px 2px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.24);color:#fff;}
.shb0605{background-color:transparent;border-color:rgba(0,0,0,0.24);color:#6200ee;}.shb0605:hover,.shb0605:focus,.shb0605:active{background-color:rgba(98,0,238,0.08);color:#6200ee;}
.grfu863{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;padding:10px;min-width:0;}.grfu863 > img{box-shadow:0 1px 2px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.24);display:block;height:640px;width:auto;margin:10px;}

.c1v7rsxs{padding:24px 0;width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.ctyrk11{padding:0 48px;}@media (max-width:680px){.ctyrk11{padding:0 16px;}}
.amr4cvk{font-size:16px;margin-top:0;margin-bottom:12px;}
.ghzpf51{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:8px 38px;min-width:0;}@media (max-width:680px){.ghzpf51{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;padding:8px 16px;}}
.i135hnfa{height:96px;padding:12px;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition:150ms;transition:150ms;}
.i1jkhzzp{height:528px;width:auto;overflow:hidden;margin:10px;box-shadow:0 1px 3px rgba(0,0,0,0.08),0 1px 2px rgba(0,0,0,0.24);}.i1jkhzzp:hover .i135hnfa,.i1jkhzzp:focus .i135hnfa{-webkit-transform:translateY(-48px);-ms-transform:translateY(-48px);transform:translateY(-48px);}@media (max-width:680px){.i1jkhzzp{margin:10px 0;}}
.iwk1szi{display:block;max-height:480px;width:auto;}
.b1us0shc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-top:16px;padding-left:3px;}
.s16c4bl6{margin:0 10px;}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

a {
  color: #1976D2;
  text-decoration: none;
}

a:hover {
  color: #2196F3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

h1 tt, h1 code {
  font-size: inherit;
}

h2 tt, h2 code {
  font-size: inherit;
}

h3 tt, h3 code {
  font-size: inherit;
}

h4 tt, h4 code {
  font-size: inherit;
}

h5 tt, h5 code {
  font-size: inherit;
}

h6 tt, h6 code {
  font-size: inherit;
}

h1 {
  font-size: 28px;
  color: black;
}

h2 {
  font-size: 24px;
  color: black;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777777;
  font-size: 14px;
}

ul, ol {
  list-style: initial;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0;
}

hr {
  border: 0;
  color: #cccccc;
  height: 1px;
  padding: 0;
}

body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}

body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0;
}

ul, ol {
  padding-left: 30px;
}

ul :first-child, ol :first-child {
  margin-top: 0;
}

ul :last-child, ol :last-child {
  margin-bottom: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt > :first-child {
  margin-top: 0;
}

dl dt > :last-child {
  margin-bottom: 0;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dd > :first-child {
  margin-top: 0;
}

dl dd > :last-child {
  margin-bottom: 0;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

table {
  padding: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

code, tt {
  font-family: "Roboto Mono", "Fira Code", "Operator Mono", "Ubuntu Mono", "Droid Sans Mono", "Liberation Mono", "Source Code Pro", Menlo, Consolas, Courier, monospace;
  white-space: nowrap;
  font-weight: bold;
  font-size: 13px;
}

pre code {
  margin: 0;
  padding: 16px;
  display: block;
  white-space: pre;
  border: none;
  overflow-x: auto;
}

pre {
  background-color: #fafafa;
  font-size: 13px;
  line-height: 19px;
  border-radius: 2px;
  tab-size: 2;
  hyphens: none;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
  font-weight: normal;
}

a, a:hover {
  color: #6200ee;
}

a:hover {
  color: #873DF2;
}

.screenshots {
  padding: 12px 0 4px 0;
  margin: 0 -4px;
}

.screenshots img {
  display: inline-block;
  width: 280px;
  height: auto;
}

.screenshots img.medium {
  width: 420px;
}

.screenshots img.large {
  display: block;
  width: 560px;
}

.screenshots > figure {
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
}

.screenshots > img {
  margin: 4px;
}

.screenshots figcaption {
  color: #616161;
  font-size: 13px;
  line-height: 24px;
  margin-top: 10px;
}

@media (min-width: 1100px) {
  .screenshots img {
    width: 240px;
  }
}


/*# sourceMappingURL=app.css.map*/