{
  "extends": "../.eslintrc",

  "settings": {
    "import/core-modules": ["react-native-paper"]
  },

  "rules": {
    "react/prop-types": "off",
    "import/no-unresolved": [
      2,
      {"ignore": ["^@docusaurus", "^@theme", "@^site"]}
    ]
  }
}
