:root {
  --theme-primary-color: #6200ee;
}
:root .dark-mode {
  --theme-primary-color: #6200ee;
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: #6200ee;
}

a:hover {
  color: #873df2;
}

.screenshots {
  padding: 12px 0 4px 0;
  margin: 0 -4px;
}

.screenshots img {
  display: inline-block;
  width: 280px;
  height: auto;
}

.screenshots img.medium {
  width: 420px;
}

.screenshots img.large {
  display: block;
  width: 560px;
}

.screenshots > figure {
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
}

.screenshots > img {
  margin: 4px;
}

.screenshots figcaption {
  color: #616161;
  font-size: 13px;
  line-height: 24px;
  margin-top: 10px;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

@media (min-width: 1100px) {
  .screenshots img {
    width: 240px;
  }
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf')
    format('truetype');
}
