.screenshots {
  padding: 12px 0 4px 0;
  margin: 0 -4px;
}

.screenshots > img {
  width: 280px;
  height: auto;
  margin: 4px;
}

@media (min-width: 1100px) {
  .screenshots > img {
    width: 240px;
  }
}
