name: Check versions
on:
  issues:
    types: [opened, edited]

jobs:
  check-versions:
    if: ${{ github.event.label.name == 'bug' }}
    runs-on: ubuntu-latest
    steps:
      - uses: react-navigation/check-versions-action@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          required-packages: |
            react-native
            react-native-paper
            react-native-vector-icons
          optional-packages: |
            expo
            npm
            yarn
